:root{
  --adaptiveminWidth: 40vh;
}



title.titulo
{
    font-family: Arial, Helvetica, sans-serif;
}
/* EXPERIMENTAL: Fancy scrolling animation */
@keyframes a {

0% {background-color: red;}
25% {background-color: green;}
50% {background-color: blue;}
75% {background-color: green;}
100% {background-color: red;}

}

/* Common */
.flexCentCol
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexCentRow
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Layout */
body
{
  font-style: normal;
  font-family: 'Verdana';
  background-color: rgb(0, 0, 0);
  color: gainsboro;
  margin: 0;
}

/* Everyone deserves to be welcome! - A basic sticky top bar */
div.top
{
  background-color: rgb(53, 52, 52);
  padding: 0;
  font-family: Impact;
  font-size: 300%;
  text-align: center;
  color: gainsboro;
  margin: 0;
  position: sticky;
}

/* The Navigation Bar */
ul.bar
{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  
}

ul.listas
{

  padding: 0px;
  margin: 0px;
}

ul.listas li
{
  padding: 0px;
  margin: 0px;
}

li.bar
{
  
  width: 20%;

}

a.bar
{
  display: block;
  text-align: center;
  padding: 10px 14px;
  font-size: 75%;
  text-decoration: none;
  color: antiquewhite;
}

li.bar:hover 
{
  background-color: rgb(105, 103, 103);
}

/* The body, with a different background color */
div.body
{
  background-color: rgb(27, 27, 27);
  color: antiquewhite;
  margin: 0;
  padding: 5vh;

}

.SquareContainer
{
  margin: 1vh;
  padding: 1vh;
  background-color: rgb(48, 45, 45);
  border-radius: 5px;
  border-style: inset;
  border-color: rgba(232, 153, 252, 0.300);
  overflow: hidden;
  overflow-wrap: anywhere;
  scrollbar-color: rgb(48, 45, 45) rgb(27, 27, 27);
}


.body .FlexibleBlockContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  
}

.FlexibleBlock
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 25rem;
  max-width: 25rem;
  justify-content: center;
  min-height: var(--adaptiveminWidth);
  max-height: var(--adaptiveminWidth);

}



.FlexibleBlock.ImageBlock
{
  min-height: 128px;
  max-height: 128px;
  min-width: 128px;
  max-width: 128px;
  padding: 0;
  overflow: hidden;
  text-align: center;
}
.ImageBlock img
{
  max-height: 90%;
  max-width:  90%;
}
.ImageBlock.UncappedSize
{
  min-height: 256px;
  max-height: 256px;
  min-width: 256px;
  max-width: 256px;
}
.genericImg
{
  max-width: 256px;
  max-height: 256px;
}
/* Everything related to text */

h1 /*Titles*/
{
  font-family: Verdana;
  font-size: 200%;
  color: beige;
  padding: 0px;
  text-align: center;
}
h2
{
  font-family: Verdana;
  font-size: 2rem;
  text-align: center;
}
h3 /*Bold Text*/
{
  font-family: Arial;
  font-style: normal;
  font-weight: bolder;
  padding: 0px;
  margin: 0px;
}

.rainbow /*RAINBOW TEXT - WORK IN PROGRESS*/
{
  /* background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red, violet); */
  background-clip: text;
  animation-name: a;
  animation-timing-function: alternate;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  color: transparent;

}
p.text /*Normal pharigraphs*/
{
  font-family: 'Courier New';
  font-size: 100%;
  color: azure;
}

.navBarContainer
{
  font-family: Impact; 
  color: antiquewhite; 
  font-size: 225%; 
  background-color: rgb(53, 52, 52);
}

/*Images*/

div.gallery
{

  float: left;
  text-align: center;
  padding: 0px;
}
div.gallery img
{
  width: 50%;
  height:50%;
}
div.description
{
  padding: 20px;
  text-align: center;
  height: 20px;
}


@media screen and (max-width: 600px){

  .FlexibleBlock
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 10vh;
    max-height: 10vh;
  }
  .body .FlexibleBlockContainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
p.Text /*Normal pharigraphs*/
{
  font-family: 'Courier New';
  font-size: 10px;
  margin: 0;
  color: azure;
}
h1 /*Titles*/
{
  font-family: Verdana;
  font-size: 16px;
  color: beige;
  padding: 0px;
  text-align: center;
}

h3 /*Bold Text*/
{
  font-family: Arial;
  font-style: normal;
  font-weight: bolder;
  font-size: 10px;
  padding: 0px;
}
div.gallery
{
  width: 50%;
  float: left;
  text-align: center;
  padding: 0px;
}
div.gallery img
{
  width: 50%;
  height: 50%;
}
div.description
{
  padding: 5px;
  text-align: center;
  height: 5px;
}
a.bar
{
  display: block;
  text-align: center;
  padding: 10px 14px;
  font-size: 24px;
  text-decoration: none;
  color: antiquewhite;
}
div.top
{
  background-color: rgb(53, 52, 52);
  padding: 0;
  font-family: Impact;
  font-size: 28px;
  text-align: center;
  color: gainsboro;
  margin: 0;
  position: sticky;
}
}